body {
  min-height: 100%;
}
main {
  height: 100vh;
}

header {
  height: 95vh;
  display: flex;
}

.nav {
  font-size: 1.5rem;
}

.header-grid {
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
}

.hover-dark-red:hover {
  border-bottom: 3px solid #e7040f;
  transition: border-bottom 0.1s;
}

.section-layout {
  display: flex;
  flex-direction: column;
}

.f1-ns,
p.text {
  margin: 0 0 0.5rem 0;
}
.section-container {
  display: flex;
  flex-direction: column;
  width: 1470px;
  max-width: 1470px;
  padding-top: 156px;
  padding-bottom: 156px;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.grid-container--content {
  width: 100%;
  justify-content: start;
  justify-items: start;
  align-items: start;
  align-content: start;
  grid-column-gap: 4rem;
  grid-row-gap: 0;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.grid-block--title {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.clients-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.clients-list > p {
  margin: 0 1rem 1rem 0;
  max-width: 33%;
}

div.circle {
  text-align: center;
  color: #fff;
  padding: 5px;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: background-color 1s;
  background-color: #999;
}
div.circle.Home {
  background: linear-gradient(45deg, #000, #000 100%),
    linear-gradient(135deg, #e7040f, #e7040f),
    linear-gradient(225deg, #e7040f, #e7040f),
    linear-gradient(225deg, #000, #000);
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
  animation: spin 3000ms linear infinite;
  -webkit-animation: spin 3000ms linear infinite;
  -moz-animation: spin 3000ms linear infinite;
}

/*==============
/* * Animations
====================================*/
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*==============
/* * Media Queries 
====================================*/

@media (max-width: 991px) {
  .grid-container--content {
    grid-auto-columns: 0.25fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
